<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DoiAngKhang</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <!-- https://fonts.google.com/ -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../css/templatemo-diagoona.css" rel="stylesheet" />
</head>
<body>
    <div class="tm-container">
        <div class="contact">
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="fas fa-umbrella-beach fa-3x mt-1 tm-logo"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase">ChiangMai</h1>
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/index.html">Home</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="/page_list.html">About <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://www.rdpb.go.th/MediaUploader/Content/517/4b22b47c-c893-4b52-b8c3-b1e945cbd74c_4.jpg?ddMMyyyyHHmmss"
                                class="d-block w-100 img-fluid" alt="Responsive image">
                        </div>
                    </div>
                </div>
            </div>

            <br/>

            <section class="ftco-section services-section">
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-md-5 order-md-last heading-section pl-md-4 ftco-animate d-flex align-items-center">
                            <div class="w-100" >
                                <h1><span style="font-size: 30px; color:#fc9aaa;"> Doi Ang Khang (ดอยอ่างขาง)</span></h1> 
                                <p >“ดอยอ่างขาง” ตั้งอยู่ในเขตอุทยานแห่งชาติดอยผ้าห่มปก อ.ฝาง จ.เชียงใหม่ เป็นส่วนหนึ่งของเทือกเขาแดนลาวที่กั้นพรมแดนระหว่างไทย-พม่า มีแนวความสูงตั้งแต่ 1,400-1,928 เมตรจากระดับน้ำทะเล ซึ่งจุดสูงสุดจะอยู่ที่ยอดดอยอ่างขาง สูงจากระดับทะเลปานกลาง 1,928 เมตรดั้งเดิมนั้นดอยอ่างขางเป็นพื้นที่ที่มีการทำไร่เลื่อนลอยและมีการปลูกฝิ่นจำนวนมาก แต่ด้วยพระราชประสงค์ของพระบาทสมเด็จพระบรมชนกาธิเบศร มหาภูมิพลอดุลยเดชมหาราช บรมนาถบพิตร 
                                    ที่อยากให้ชาวไทยภูเขาที่อาศัยอยู่ตามดอยต่าง ๆ ทางภาคเหนือมีชีวิตความเป็นอยู่ที่ดีขึ้น จึงมีพระราชดำริให้จัดตั้งสถานีเกษตรหลวงอ่างขาง เพื่อเป็นสถานที่ทดลอง และค้นคว้าวิจัยเกี่ยวกับพืชเมืองหนาว 
                                </p>
                                <p>
                                    <span>สถานีเกษตรหลวงอ่างขาง และบริเวณโดยรอบจึงเต็มไปด้วยไร่สวนพืชผัก-ผลไม้เมืองหนาวและดอกไม้เมืองหนาวหลากหลายสายพันธุ์ ทั้งถนนดอกนางพญาเสือโคร่งและซากุระญี่ปุ่น ไร่สตรอว์เบอร์รี 
                                        ไร่ชากว้างใหญ่ ฯลฯ ประกอบกับตั้งอยู่บนพื้นที่สูง ทำให้มีอากาศหนาวเย็นสดชื่นตลอดทั้งปี มีจุดชมวิวและจุดชมทะเลหมอกสวยปังหลายจุด บรรยากาศงดงามโรแมนติก และมีชุมชนชาวไทยภูเขาอยู่ด้วย 
                                    </span>
                                </p>
                                  <p class="w-100 ml-auto d-flex justify-content-end"><a href="https://naturalsite.onep.go.th/site/detail/37" class="btn btn-primary ">Read more</a></p>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate btn  py-3 px-3 ">
                                    <div class="services services-1 color-1 d-block img" style="background-image: url(images/services-2.jpg);">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
                                        <div class="media-body">
                                            <h3 class="heading mb-3">Activities</h3>
                                            <p>สายท่องเที่ยวถ่ายภาพ Landscape ดอยอ่างขางมีจุดเก็บแสงเช้า กับทะเลหมอก นอกจากจะเป็นจุดชมวิวแล้วยังเป็นที่นิยมสำหรับนักแรมทางที่ชอบกางเต็นท์</p>
                                        </div>
                                    </div>      
                                </div>
                                <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate btn  py-3 px-3">
                                    <div class="services services-1 color-2 d-block img"  style="background-color:rgba(246,129,148,255);">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                        <div class="media-body">
                                            <h3 class="heading mb-3">Travel Arrangements</h3>
                                            <p>ดอยอ่างขางขึ้นชื่อว่าเป็นดอยที่มีทางขึ้นน่ากลัวที่สุดเป็นลำดับต้นๆของไทย แต่นั่นเป็นเพียงแค่ทางขึ้นเส้นทล.1249 เท่านั้น ทางขึ้นดอยอ่างขางมีหลายเส้นทาง</p>
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate btn  py-3 px-3">
                                    <div class="services services-1 color-3 d-block img" style="background-color:rgba(246,129,148,255);">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
                                        <div class="media-body">
                                            <h3 class="heading mb-3">Nearby places</h3>
                                            <p>ลานกางเต็นท์ม่อนสน นับเป็นลานกางเต็นท์ที่มีความสูงที่สุดของดอยอ่างขาง มี Landscape สวยเด็ดอลังการกว้างไกล
                                            </p>
                                        </div>
                                    </div>      
                                </div>
                                <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate btn  py-3 px-3">
                                    <div class="services services-1 color-4 d-block img" style="background-image: url(images/services-2.jpg);">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
                                        <div class="media-body">
                                            <h3 class="heading mb-3">Location </h3>
                                            <p> สถานีเกษตรหลวงอ่างขาง
                                                <span>หมู่ 5 ตำบลแม่งอน อำเภอฝาง จังหวัดเชียงใหม่</span></p>
                                        </div>
                                    </div>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br/>
            <br/>
            
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center pb-4 py-3 px-2">
                        <div class="col-md-12 heading-section text-center ftco-animate" style="background-color: rgba(246,129,148,255);">
                            <br/>
                            <span class="subheading" style="color: black;font-size: medium;">ChiangMai</span>
                            <h2 class="mb-5" style="color: black; font-size: 40px;">Tour Doi Ang Khang</h2>
                        </div>
                    </div>
                    <div class="row white-bg d-flex btn ftco-animate align-self-stretch"">
                        <div class="col-md-4 ftco-animate">
                            <div class="project-wrap">
                                <a href="#" class="img" style="background-image: url(https://www.chicagohotel-site.com/wp-content/uploads/2021/02/Mon-Son-Viewpoint-Doi-Ang-Khang-Chiang-Mai-Province.jpg);">
                                </a>
                                <div class="text p-4">
                                    <h3><a>ลานกางเต็นท์ม่อนสน</a></h3>
                                    <p class="location" style="background-color:rgba(246,129,148,0.5); border-radius: 6px;"><span class="fa fa-map-marker"></span> จุดชมวิวม่อนสน เชียงใหม่</p>
                                        <p ><span class="flaticon-shower ">ลานกางเต็นท์ที่มีความสูงที่สุดของดอยอ่างขาง ด้วยความสูงจากระดับทะเลประมาณ 1,787 เมตร และสูงกว่าอำเภอฝางประมาณ 1,300 เมตร
                                            เป็นจุดที่มีลานกางเต็นท์กว้างมาก ที่สำคัญคือสามารถดูพระอาทิตย์ขึ้นได้จากหน้าเต็นท์เลย
                                        </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ftco-animate">
                            <div class="project-wrap">
                                <a href="#" class="img" style="background-image: url(https://f.ptcdn.info/880/000/000/1357309830-CT8-o.jpg);">
                                </a>
                                <div class="text p-4">
                                    <h3><a>ไร่สตรอเบอรี่บ้านนอแล</a></h3>
                                    <p class="location" style="background-color:rgba(246,129,148,0.5); border-radius: 6px;"><span class="fa fa-map-marker">
                                        </span> สุดเขตประเทศไทย-เมียร์ม่า 
                                        ตำบลแม่สูน อำเภอฝาง เชียงใหม่
                                    </p>
                                    <p ><span class="flaticon-shower ">สตรอว์เบอร์รีพันธุ์พระราชทาน 80 ที่ใหญ่อันดับต้น ๆ ของไทย และเรียกได้ว่าเป็นจุดถ่ายภาพมหาชน
                                        บริเวณนี้จะเห็นทะเลหมอกในหุบเขาพร้อมกับไร่สตอร์เบอรี่
                                    </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ftco-animate">
                            <div class="project-wrap">
                                <a href="#" class="img" style="background-image: url(https://steemitimages.com/DQmYYWYgFeYzNu1Lude8BbNSpRsVXxy4xbHzkdjuZ6tvJek/8907D076-6E53-4EED-BE39-482ED6594707.jpeg);">
                                </a>
                                <div class="text p-4">
                                    <h4><a>สถานีเกษตรหลวงอ่างขาง </a></h3>
                                    <p class="location" style="background-color:rgba(246,129,148,0.5); border-radius: 6px;"><span class="fa fa-map-marker"></span> ตำบลแม่งอน อำเภอฝาง จังหวัดเชียงใหม่ </p>
                                    <p ><span class="flaticon-shower ">สถานที่วิจัยพืชเขตหนาว เต็มไปด้วยต้นไม้นานาพรรณ พร้อมกับสวนดอกไม้เมืองหนาว ช่วงเดือนมกราคมบริเวณนี้จะมีดอกพญาเสือโคร่งออกบานเยอะมากที่สุด 
                                        และที่นี่ก็มีพันธุ์ไม้ซากุระจากญี่ปุ่นจริง ๆ มาปลูกด้วย
                                     
                                    </span></p>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4 ftco-animate">
                            <div class="project-wrap">
                                <a href="#" class="img" style="background-image: url(https://www.monpinfang.go.th/2021/office/uploads/1613544765146544058_2821261881432012_5764045389684612534_o.jpg);">
                                </a>
                                <div class="text p-4">
                                    <h3><a>หมู่บ้านขอบด้ง - นอแล</a></h3>
                                    <p class="location" style="background-color:rgba(246,129,148,0.5); border-radius: 6px;"><span class="fa fa-map-marker"></span> ฐานปฏิบัติการบ้านนอแล ชายแดนไทย-ชายแดนประเทศพม่า</p>
                                    <p ><span class="flaticon-shower ">เป็นหมู่บ้านของชาวมูเซอดำและหมู่บ้านของชาวเขาเผ่าปะหล่อง ที่อพยพมาจากประเทศพม่าภายในหมู่บ้านจะมีศูนย์หัตถกรรม จุดนี้เป็นจุดที่สามารถชมพระอาทิตย์ขึ้นได้
                                        โดยเฉพาะในฤดูหนาวเป็นช่วงที่นักท่องเที่ยวจะมารอชมพระอาทิตย์ขึ้น และทะเลหมอกในตอนเช้า

                                    </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ftco-animate">
                            <div class="project-wrap">
                                <a href="#" class="img" style="background-image: url(https://travel.mthai.com/app/uploads/2015/01/20141029_3_1414557753_3604761.jpg);">
                                </a>
                                <div class="text p-4">
                                    <h3><a >ไร่ชา 2000</a></h3>
                                    <p class="location" style="background-color:rgba(246,129,148,0.5); border-radius: 6px;"><span class="fa fa-map-marker"></span> ไร่ชา 2000 ต.แม่งอน อ.ฝาง จ.เชียงใหม่ 50110</p>
                                    <p ><span class="flaticon-shower ">สามารถชมไร่ชาแบบมุมสูง ถึงแม้ว่าไร่ชา 2000 จะเป็นไร่ไม้ใหญ่มากแต่ก็สวย อากาศดี  เงียบ  เป็นธรรมชาติที่น่าเที่ยวสุดๆ  
                                        ภายในไร่ชา 2000  มีชาให้ชิมและยามเช้าไร่ชา 2000 ก็จะมีทะเลหมอกให้ชมเป็นที่ประทับใจแก่ผู้มาเยือน
                                    </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ftco-animate">
                            <div class="project-wrap">
                                <a href="#" class="img" style="background-image: url(https://img.kapook.com/u/2018/sireeporn/3_23.jpg);">
                                </a>
                                <div class="text p-4">
                                    <h3><a >จุดชมวิวซุ่ยถัง</a></h3>
                                    <p class="location" style="background-color:rgba(246,129,148,0.5); border-radius: 6px;"><span class="fa fa-map-marker"></span> ดอยอ่างขาง อำเภอไชยปราการ  จังหวัดเชียงใหม่</p>
                                    <p ><span class="flaticon-shower ">ช่วงปลายฝนต้นหนาวไปจนถึงฤดูหนาวถือเป็นไฮไลท์ของการมาเยือน เป็นจุดชมทะเลหมอกที่สวยงาม ไหลลัดเลาะไปตามขุนเขาราวสายธาร 
                                        จึงเป็นที่มาของชื่อ จุดชมวิวซุยถัง ในภาษาจีนยูนนานแปลว่า "ลำธารแห่งสายหมอก" 
                                    </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="ftco-section">
                <div class="container">
                    <div class="row justify-content-center pb-4 py-3 px-2">
                        <div class="col-md-12 heading-section text-center ftco-animate" style="background-color: rgba(246,129,148,255);">
                            <br/>
                            <span class="subheading" style="color: black;font-size: medium;">DoiAngKhang</span>
                            <h2 class="mb-5" style="color: black; font-size: 40px;">Nearby hotel accommodation</h2>
                        </div>
                    </div>
                    <div class="row white-bg d-flex btn ftco-animate align-self-stretch">
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                            <div class="card shadow-sm bg-transparent opacity-75">
                                <img src="https://pix8.agoda.net/hotelImages/107/10731/10731_16091615050046543962.jpg?ca=6&ce=1&s=1024x768" class="card-img-top" alt="..." width="100%" height="225">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>อ่างขาง เนเจอร์ รีสอร์ท </strong></h5>
                                    <p class="location"><span class="fa fa-map-marker"></span> ดอยอ่างขาง 1/1 หมู่ 5 บ้านคุ้ม ต.แม่งอน อ.ฝาง ไทย 50320</p>
                                    <p style="color:rgba(246,129,148,255); font-size: 25px;"> ฿ x,xxx </p>
                                    <lu style="text-align: left;">
                                        <li>เช็คอิน: 14:00 </li>
                                        <li>เวลาเช็คเอาท์: ก่อน 12:00 </li>
                                    </lu>
                                    <br>
                                    <div class="btn-group d-flex justify-content-center">
                                        <a href="https://www.agoda.com/th-th/angkhang-nature-resort/hotel/fang-th.html?finalPriceView=1&isShowMobileAppPrice=false&cid=1841722&numberOfBedrooms=&familyMode=false&adults=1&children=0&rooms=1&maxRooms=0&checkIn=2024-04-18&isCalendarCallout=false&childAges=&numberOfGuest=0&missingChildAges=false&travellerType=-1&showReviewSubmissionEntry=false&currencyCode=THB&isFreeOccSearch=false&tag=fdecf551-c6c5-f4e5-d69c-e94ca3fa6286&isCityHaveAsq=false&los=1&searchrequestid=7d84443f-6dd0-4a9a-8e9c-43e7b645c0b4&ds=FXc75YYXmop1Hp0P" class="btn btn-primary btn-sm" style="background-color: rgba(246, 129, 148, 0.5); border-radius: 5px; padding: 8px 16px;">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- รายการที่สอง -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                            <div class="card shadow-sm bg-transparent opacity-75">
                                <img src="https://pix8.agoda.net/hotelImages/30700033/0/4913fe95611fb1895a5957f5935c3ed8.jpg?ca=27&ce=0&s=1024x768" class="card-img-top" alt="..." width="100%" height="225">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>HOTEL DAWA</strong></h5>
                                    <p class="location"><span class="fa fa-map-marker"></span> HOTEL DAWA, ม่อนปิ่น, ฝาง, ไทย, 50110</p>
                                    <p style="color:rgba(246,129,148,255); font-size: 25px;"> ฿ x,xxx </p>
                                    <lu style="text-align: left;">
                                        <li>เช็คอิน: หลัง 14:00</li>
                                        <li>เวลาเช็คเอาท์: ก่อน 12:00</li>
                                    </lu>
                                    <br>
                                    <div class="btn-group d-flex justify-content-center">
                                        <a href="https://www.agoda.com/hotel-dawa/hotel/chiang-rai-th.html?cid=1844104&ds=ENLTioGeZOvlGQ4Q" class="btn btn-primary btn-sm" style="background-color: rgba(246, 129, 148, 0.5); border-radius: 5px; padding: 8px 16px;">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- รายการที่สาม -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                            <div class="card shadow-sm bg-transparent opacity-75">
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/260724823.jpg?k=f217744e98cac38a791b3b79fdecb4cb07e0b3363285ca2ec905f956589c28b2&o=&hp=1" class="card-img-top" alt="..." width="100%" height="225">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Aum Hum Homestay</strong></h5>
                                    <p class="location"><span class="fa fa-map-marker"></span> 11 Moo 6 Monpin Fang Chiang Mai 50110  ไทย </p>
                                    <br>
                                    <p style="color:rgba(246,129,148,255); font-size: 25px;"> ฿ x,xxx </p>
                                    <lu style="text-align: left;">
                                        <li>เช็คอิน: 13:00 - 20:00</li>
                                        <li>เวลาเช็คเอาท์: 10:00 - 12:00</li>
                                    </lu>
                                    <br>
                                    <div class="btn-group d-flex justify-content-center">
                                        <a href="https://www.booking.com/hotel/th/thai-style-house-by-autthapol.th.html?aid=318615&label=Thai_Thailand-TH-TH-131246364604-Qv1qaHnUbXG1rFW04Aar7AS634186708477%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi55097760549%3Atidsa-1403086270276%3Alp21041%3Ali%3Adec%3Adm%3Aag131246364604%3Acmp400681105&sid=04de1811ce1b1a9510445486e658e2e5&dest_id=-3247720&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1712661062&srpvid=79a24ea0da41012d&type=total&ucfs=1&activeTab=main" class="btn btn-primary btn-sm" style="background-color: rgba(246, 129, 148, 0.5); border-radius: 5px; padding: 8px 16px;">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- รายการที่สี่ -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                            <div class="card shadow-sm bg-transparent opacity-75">
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/478048799.jpg?k=aa8d213ebac4ebb5181740e53cbf798751dd05bc2f060230ff5cc018496bbbcd&o=&hp=1" class="card-img-top" alt="..." width="100%" height="225">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Baanfanglamoon</strong></h5>
                                    <p class="location"><span class="fa fa-map-marker"></span> 167 หมู่19 ต.เวียง อ.ฝาง จ.เชียงใหม่, 50110 Ban Mae Mao, ไทย</p>
                                    <br>
                                    <p style="color:rgba(246,129,148,255); font-size: 25px;"> ฿ x,xxx </p>
                                    <lu style="text-align: left;">
                                        <li>เช็คอิน: 14:00 - 18:00</li>
                                        <li>เวลาเช็คเอาท์: 08:00 - 11:00</li>
                                    </lu>
                                    <br>
                                    <div class="btn-group d-flex justify-content-center">
                                        <a href="https://www.booking.com/hotel/th/baanfanglamoon.th.html?aid=318615&label=Thai_Thailand-TH-TH-131246364604-Qv1qaHnUbXG1rFW04Aar7AS634186708477%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi55097760549%3Atidsa-1403086270276%3Alp21041%3Ali%3Adec%3Adm%3Aag131246364604%3Acmp400681105&sid=04de1811ce1b1a9510445486e658e2e5&dest_id=-3238573&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1712661712&srpvid=01524fe4a843040e&type=total&ucfs=1&activeTab=main" class="btn btn-primary btn-sm" style="background-color: rgba(246, 129, 148, 0.5); border-radius: 5px; padding: 8px 16px;">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- รายการที่ห้า -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                            <div class="card shadow-sm bg-transparent opacity-75">
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/517864420.jpg?k=062cd8b1d113fc9c72d79619dda6e7e222fba0be307c2fbed40e490203f02e8f&o=&hp=1" class="card-img-top" alt="..." width="100%" height="225">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Banna Cafe & Glamping</strong></h5>
                                    <p class="location"><span class="fa fa-map-marker"></span> 192 บ้านนา คาเฟ่ แอนด์แกรมปิ้ง ตำบลม่อนปิ่น อำเภอฝาง จังหวัดเชียงใหม่, 50110</p>
                                    <p style="color:rgba(246,129,148,255); font-size: 25px;"> ฿ x,xxx </p>
                                    <lu style="text-align: left;">
                                        <li>เช็คอิน: 14:00 - 19:00</li>
                                        <li>เวลาเช็คเอาท์: 8:00 - 12:00</li>
                                    </lu>
                                    <br>
                                    <div class="btn-group d-flex justify-content-center">
                                        <a href="https://www.booking.com/hotel/th/banna-cafe-amp-glamping-baannaa-khaaef-ae-nd-aekrmping.th.html?aid=318615&label=Thai_Thailand-TH-TH-131246364604-Qv1qaHnUbXG1rFW04Aar7AS634186708477%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi55097760549%3Atidsa-1403086270276%3Alp21041%3Ali%3Adec%3Adm%3Aag131246364604%3Acmp400681105&sid=04de1811ce1b1a9510445486e658e2e5&dest_id=-3247720&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1712661938&srpvid=d3495056bef2002a&type=total&ucfs=1&activeTab=main" class="btn btn-primary btn-sm" style="background-color: rgba(246, 129, 148, 0.5); border-radius: 5px; padding: 8px 16px;">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- รายการที่หก -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                            <div class="card shadow-sm bg-transparent opacity-75">
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/488479320.jpg?k=94b76e2109d081857557fd1c3d18af7a8db41f3fd44aed3ff02c0b78de947387&o=&hp=1" class="card-img-top" alt="..." width="100%" height="225">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Baan innto resort</strong></h5>
                                    <p class="location"><span class="fa fa-map-marker"></span> 155 หมู่2 บ้านแม่มาวต้นตุ่ม ต.ม่อนปิ่น อ.ฝาง จ.เชียงใหม่, 50110</p>
                                    <p style="color:rgba(246,129,148,255); font-size: 25px;"> ฿ x,xxx </p>
                                    <br>
                                    <lu style="text-align: left;">
                                        <li>เช็คอิน: 14:00 - 19:00</li>
                                        <li>เวลาเช็คเอาท์: 11:00 - 12:00</li>
                                    </lu>
                                    <br>
                                    <div class="btn-group d-flex justify-content-center">
                                        <a href="https://www.booking.com/hotel/th/baan-innto-resort-fang.th.html?aid=318615&label=Thai_Thailand-TH-TH-131246364604-Qv1qaHnUbXG1rFW04Aar7AS634186708477%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi55097760549%3Atidsa-1403086270276%3Alp21041%3Ali%3Adec%3Adm%3Aag131246364604%3Acmp400681105&sid=04de1811ce1b1a9510445486e658e2e5&dest_id=-3247720&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&hpos=1&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&srepoch=1712662096&srpvid=be4f50a5350802f7&type=total&ucfs=1&activeTab=main" class="btn btn-primary btn-sm" style="background-color: rgba(246, 129, 148, 0.5); border-radius: 5px; padding: 8px 16px;">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container my-5">
                <div class="row justify-content-around">
                    <div class="col-md-6">
                        <img src="https://roijang.com/wp-content/uploads/2023/10/shutterstock_781332127.jpg" alt="Destination Image" class="img-fluid rounded">
    
                        <h3 class="mt-5">Map</h3>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30018.360673154835!2d99.01603087176522!3d19.869757976502644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d0cfacf1e64487%3A0x580102e676e4e485!2sDoi%20Ang%20Khang!5e0!3m2!1sen!2sth!4v1712659636857!5m2!1sen!2sth"
                            width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="col-md-6">
                        <h1>Doi Ang Khang</h1>
                        <p class="lead">ดอยอ่างขาง ที่เที่ยวยอดฮิตของนักท่องเที่ยวจำนวนมาก ที่มีบรรยากาศที่สวยงามและเย็นสบายตลอดทั้งปี ดอยอ่างข่าง เป็นสถานที่ท่องเที่ยวที่ล้อมรอบไปด้วยภูเขาที่สวยงามมากมาย 
                            เหมาะสำหรับการมาท่องเที่ยวพักผ่อนในช่วงหน้าหนาวสุดๆ แถมที่ อ่างขาง ยังมีจุดชมวิวและจุดถ่ายรูปสวยๆ</p>
                        <hr>
                        <h3>Opening Hours</h3>
                        <p>
                            ตลอดทั้งปี: 8:00-20:00 
                        </p>
                        <h3>contact</h3>
                        <ul class="list-unstyled ">
                            <p > เบอร์โทรศัพท์ : 053-969-476-8 ต่อ 114</p>
                        </ul>
                        <br>
                        <h3>Traveling to Doi DoiAngKhang</h3>
                        <br>
                        <ul class="list-unstyled ">
                            <p style="background-color:rgba(246,129,148,255); border-radius: 6px; text-align: center; color: black;"> รถยนต์ </p>
                                <li> 1. ขึ้นดอยอ่างขาง ณ วัดหาดสำราญ กม. 137 สามารถใช้เส้นทาง เชียงใหม่-ฝาง (เส้นทางหลวงหมายเลข 107) มาถึงปากทางขึ้นดอยอ่างขาง ให้เลี้ยวซ้ายตามถนนซึ่งค่อนข้างลาดชัน มีทางโค้งและสูงชัน</li><br>
                                <li> 2. ขึ้นดอยอ่างขาง ณ อำเภอเชียงดาว กม 79 จากตัวเมืองจังหวัดเชียงใหม่ ใช้เส้นทางเชียงใหม่-ฝาง (ทางหลวงหมายเลข 107) เดินทางเรื่อยมาจนถึงอำเภอเชียงดาว บริเวณหลักกิโลเมตรที่ 79 จะพบทางแยก (เส้นทางหมายเลข 1) เลี้ยวซ้ายผ่าน ต.เมืองงาย บ้านอรุโณทัย บ้านหลวง เส้นทางค่อนข้างแคบแต่ไม่ลาดชัน</li>
                                <li> 3. เส้นทางจากอำเภอฝาง-หมู่บ้านนอแล มีระยะทางสั้นที่สุด แต่มีความลาดชันมาก และไหล่ทางชำรุด เป็นหลุมบ่อ พื้นถนนเป็นหินกรวด เส้นทางนี้เป็นเส้นทางเลียบแนวชายแดนไทย-พม่า ตลอดทางจะมีด่านทหารและพบเห็นทั้งค่ายทหารของไทยและพม่า บริเวณสองริมฝั่งหุบเขา ไม่แนะนำให้ไปโดยเด็ดขาด</li>
                                <br/>
                            <p style="background-color:rgba(246,129,148,255); border-radius: 6px; text-align: center; color: black;"> รถโดยสาร </p>
                                <li> 1.ดินทางจากจังหวัดเชียงใหม่-ดอยอ่างขาง สามารถโดยสารรถประจำทางสายเชียงใหม่-ฝาง หรือ เชียงใหม่-ท่าตอน มาลงที่ปากทางดอยอ่า งขาง หน้าวัดหาดสำราญ กิโลเมตรที่ 137 
                                     จากนั้นใช้บริการรถสองแถว รถตู้ หรือรถมอเตอร์ไซด์ขึ้นดอยอ่างขางอีกครั้งหนึ่ง หรือเดินทางด้วยรถตู้ประจำทางจากตัวเมืองเชียงใหม่ ไปยังอ่างขาง</li>
                                <li> 2. เดินทางจาก จังหวัดเชียงราย-ดอยอ่างขาง </li>
                        </ul>
                    </div>
                </div>
    
                <h3 class="mt-5">Comment</h3>
                <form>
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" class="form-control" id="nameInput" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="commentInput">Comment</label>
                        <textarea class="form-control" id="commentInput" rows="3"
                            placeholder="Enter your comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>


            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class="mb-0">Copyright 2020 Diagoona Co.

                        | Design: <a rel="nofollow" target="_parent" href="https://templatemo.com"
                            class="tm-text-link">TemplateMo</a></p>
                </footer>
            </div>
        </div>
        
    </div>




    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>