<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diagoona - About Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <!-- https://fonts.google.com/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="fontawesome/css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="css/templatemo-diagoona.css" rel="stylesheet" />
    <!--

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

-->
</head>

<body>
    <div class="tm-container">
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <i class="fas fa-umbrella-beach fa-3x mt-1 tm-logo"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase">ChiangMai</h1>
                        </div>
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="page_list.html">About <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="ฺBloge.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </div>

        <div class="container my-5">
            <div class="row justify-content-around">
                <div class="col-md-6">
                    <img src="https://www.chiangmaiexpert.com/wp-content/uploads/2016/05/maesa2-1170x724.jpg?5450a8"
                        alt="Destination Image" class="img-fluid rounded">

                    <h3 class="mt-5">Map</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15098.85442179!2d98.875543!3d18.8997824!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d9f539621ebfa5%3A0xf328561b82980487!2z4Lib4Liy4LiH4LiK4LmJ4Liy4LiH4LmB4Lih4LmI4Liq4Liy!5e0!3m2!1sth!2sth!4v1712666712227!5m2!1sth!2sth"
                        width="100%" height="300" style="border:0;" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-6">
                    <h1>ปางช้างแม่สา</h1>
                    <p class="lead">ในอดีต ช้างอยู่คู่กับเมืองไทยมานานมากกว่า ​1000 ปี คนกับช้างอยู่ด้วยกัน ทำงานด้วยกัน มีชีวิตร่วมกัน ทั้งในเวลาปกติ
                    และในเวลาสงคราม 2470 ยุคล่าอาณานิคม ถือได้ว่าเป็นช่วงเวลาที่ช้างเปลี่ยนจากการเป็นทหารมาเป็นแรงงาน
                    สำหรับทำอุตสาหกรรมป่าไม้ในส่วนลึกของป่า เพื่อให้ได้ไม้สักที่ดีที่สุดในโลก ต้องมีช้างเป็นผู้ช่วยในการลำเลียง 2519
                    กำเนิดปางช้างแม่สา</p>
                    <hr>
                    <h3>ประวัติ</h3>
                    <p>“ปางช้างแม่สา” ก่อตั้งขึ้นเมื่อวันที่ 8 เมษายน พ.ศ. 2519 โดย คุณชูชาติ กัลมาพิจิตร
                    ซึ่งในช่วงนั้นรัฐบาลได้สนับสนุนให้เชียงใหม่เป็นเมืองท่องเที่ยว มีนักท่องเที่ยวมากันมาก
                    แล้วมีเสียงเรียกร้องจากบริษัทนำเที่ยวต่างๆ ว่าน่าจะมีการทำปางช้างเพื่อการท่องเที่ยวขึ้น คุณชูชาติจึงตัดสินใจลงทุนทำ
                    ปางช้างแม่สา ขึ้น เริ่มจากการขอเช่าพื้นที่จำนวน 30 ไร่เศษ บริเวณหมู่บ้านแม่แมะ
                    จากกองพันสัตว์ต่างซึ่งเคยเป็นปางช้างเก่าอยู่แล้วและขอเช่าช้างจากคนกะเหรี่ยงที่อำเภอสะเมิงมา 5-6 เชือก
                    มีช้างจำนวนหนึ่งได้มาทำงานในปางช้างแม่สา
                    ซึ่งเป็นตำแหน่งใหม่ของช้างในการให้ประสบการณ์ที่สุดแสนวิเศษแก่นักท่องเที่ยวได้สัมผัสเพื่อนคู่ชีวิตของควาญช้าง
                    เป็นงานที่ไม่มีอันตราย ไม่เสี่ยงภัย ไม่เสี่ยงต่อนายพราน และทำให้คุณภาพชีวิตของช้างดีขึ้นอย่างมาก ปี 2536
                    เพื่อรักษาป่าไม้ที่เหลืออยู่น้อยนิด รัฐบาลได้ยกเลิกการสัมปทานป่าไม้ ช้างลากซุงที่ทำงานในป่า ตกงานกันเป็นจำนวนมาก
                    สร้างความวิตกกังวลแก่ควาญช้างและครอบครัวเป็นอย่างมาก แต่ก็เป็นโอกาสอันดี ที่งานอันตราย จะได้จบลง และเริ่มต้นชีวิตใหม่
                    ทั้งช้าง ควาญช้าง และครอบครัวของควาญช้างเอง ปัจจุบันแม้ช้างจะมีชีวิตที่ดีกว่าในอดีตมาก
                    แต่ความรู้สึกว่าช้างเป็นเพื่อนร่วมโลกที่เราต้องให้ความรักไม่ได้หยุดเพียงแค่นั้น ปางช้างแม่สา
                    ได้สร้างสรรค์โปรแกรมการท่องเที่ยวเพื่อให้นักท่องเที่ยวได้มีประสบการณที่ดีที่สุด ต่อผู้มาเยี่ยมเยือน และต่อตัวช้างเอง
                    แต่สิ่งที่เป็นมากเกือบ 40 ปีนี้ ไม่ใช่สิ่งที่จะเปลี่ยนได้อย่างชั่วข้ามคืน</p>
                    <h3>Opening Hours</h3>
                    <p>
                        Monday - Friday: 9:00 AM - 6:00 PM<br>
                        Weekends: 10:00 AM - 5:00 PM
                    </p>
                </div>
                <div class="ftco-section" style="width: 100%;">
                    <div class="container">
                        <div class="row justify-content-center pb-4 py-3 px-2">
                            <div class="col-md-12 heading-section text-center ftco-animate"
                                style="background-color: rgba(246,129,148,255);">
                                <br />
                                <h2 class="mb-5" style="color: black; font-size: 40px;">Activity</h2>
                            </div>
                        </div>
                        <div class="row white-bg d-flex btn ftco-animate align-self-stretch">
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                                <div class="card shadow-sm bg-transparent opacity-75">
                                    <img src="https://ak-d.tripcdn.com/images/1i62722348ayxnlww0318_W_640_0_R5_Q80.jpg?proc=source/trip"
                                        class="card-img-top" alt="..." width="100%" height="225">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>ขี่ช้าง</strong></h5>
                                    </div>
                                </div>
                            </div>
                            <!-- รายการที่สอง -->
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                                <div class="card shadow-sm bg-transparent opacity-75">
                                    <img src="https://ak-d.tripcdn.com/images/1i66m2224russbl1t8033_W_640_0_R5_Q80.jpg?proc=source/trip"
                                        class="card-img-top" alt="..." width="100%" height="225">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>อาบน้ำช้าง</strong></h5>
                                    </div>
                                </div>
                            </div>
                            <!-- รายการที่สาม -->
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                                <div class="card shadow-sm bg-transparent opacity-75 ">
                                    <img src="https://www.museumthailand.com/upload/evidence/1535818553_90779.jpg"
                                        class="card-img-top" alt="..." width="100%" height="225">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>การแสกดงช้าง</strong></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="ftco-section">
                    <div class="container">
                        <div class="row justify-content-center pb-4 py-3 px-2">
                            <div class="col-md-12 heading-section text-center ftco-animate"
                                style="background-color: rgba(246,129,148,255);">
                                <br />
                                <span class="subheading" style="color: black;font-size: medium;">Doi Mon Ngo</span>
                                <h2 class="mb-5" style="color: black; font-size: 40px;">Nearby hotel accommodation</h2>
                            </div>
                        </div>
                        <div class="row white-bg d-flex btn ftco-animate align-self-stretch">
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                                <div class="card shadow-sm bg-transparent opacity-75">
                                    <img src="https://ak-d.tripcdn.com/images/1mi4m2224vp93hng0296D.jpg?proc=source/trip"
                                        class="card-img-top" alt="..." width="100%" height="225">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>ฮอมฮัก โฮมสเตย์</strong></h5>
                                        <p class="location"><span class="fa fa-map-marker"></span> 105 ม.4 ต.เมืองก๋าย
                                            อ.แม่แตง จ.เชียงใหม่ เทศบาลนครเชียงใหม่</p>
                                        <p style="color:rgba(246,129,148,255); font-size: 25px;"> ฿ x,xxx </p>
                                        <br>
                                        <div class="btn-group d-flex justify-content-center">
                                            <a href="https://th.trip.com/hotels/mae-on-hotel-detail-71957831/the-stream-house-at-mae-kampong?checkIn=2024-04-09&checkOut=2024-04-10&locale=th-TH&curr=THB"
                                                class="btn btn-primary btn-sm"
                                                style="background-color: rgba(246, 129, 148, 0.5); border-radius: 5px; padding: 8px 16px;">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- รายการที่สอง -->
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                                <div class="card shadow-sm bg-transparent opacity-75">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQysoU8xqYRqbmxKvNaKzhOaQVRYt0R-vMmHY8-D8-PUg&s"
                                        class="card-img-top" alt="..." width="100%" height="225">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>BLISS Homestay</strong></h5>
                                        <p class="location"><span class="fa fa-map-marker"></span> 99 หมู่ 2
                                            ตำบลเมืองก๋าย อำเภอแม่แตง จังหวัดเชียงใหม่</p>
                                        <p style="color:rgba(246,129,148,255); font-size: 25px;"> ฿ x,xxx </p>
                                        <br>
                                        <div class="btn-group d-flex justify-content-center">
                                            <a href="https://th.trip.com/hotels/mae-on-hotel-detail-9871645/teddu-inn-maekampong?checkIn=&checkOut=&locale=th-TH&curr=THB"
                                                class="btn btn-primary btn-sm"
                                                style="background-color: rgba(246, 129, 148, 0.5); border-radius: 5px; padding: 8px 16px;">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- รายการที่สาม -->
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mb-lg-3">
                                <div class="card shadow-sm bg-transparent opacity-75 ">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQDQ3YQ0X6d4mvtHFrZMu6BTzJ59nOiHM6WCtsbO28zw&s"
                                        class="card-img-top" alt="..." width="100%" height="225">
                                    <div class="card-body">
                                        <h5 class="card-title"><strong>สวนสายหมอก&โฮมสเตย์</strong></h5>
                                        <p class="location"><span class="fa fa-map-marker"></span> 96 หมู่ 4
                                            ตำบลเมืองก๋าย อำเภอแม่แตง จังหวัดเชียงใหม่</p>

                                        <p style="color:rgba(246,129,148,255); font-size: 25px;"> ฿ x,xxx </p>
                                        <br>
                                        <div class="btn-group d-flex justify-content-center">
                                            <a href="https://th.trip.com/hotels/mae-on-hotel-detail-96197463/pok-mountain?checkIn=&checkOut=&locale=th-TH&curr=THB"
                                                class="btn btn-primary btn-sm"
                                                style="background-color: rgba(246, 129, 148, 0.5); border-radius: 5px; padding: 8px 16px;">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="tm-row">
            <div class="tm-col-left text-center">
                <!-- <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul> -->
            </div>
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class="mb-0">Copyright 2020 Diagoona Co.

                        | Design: <a rel="nofollow" target="_parent" href="https://templatemo.com"
                            class="tm-text-link">TemplateMo</a></p>
                </footer>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/templatemo-script.js"></script> -->
</body>

</html>